@use 'global';
@use 'util' as u;

.wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;

    .article-img {
        width: u.rem(285);
        height: u.rem(280);
        margin: 0;
        padding: 0;
        border-radius: 10px 0 0 10px;
        background-image: url(../assets/images/drawers.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center left;
    }

    .article-content {
        width: u.rem(445);
        min-height: u.rem(280);
        padding: 30px;
        border-radius: 0 10px 10px 0;
        background-color: var(--white);

        h1 { margin-bottom: 15px; }
        
        .article-author {
            position: relative;
            z-index: 2;
            margin-top: 20px;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;

            .author {
                display: flex;

                img {
                    margin-right: 15px;
                    width: u.rem(40);
                    height: u.rem(40);
                    border-radius: 20px;
                }
                .author-details {
                    display: flex;
                    flex-direction: column;
                    min-width: 80%;
                }
            }
            .share {
                position: relative;
                z-index: 5;
                display: block;
                padding: 11px 10px;
                border-radius: 50%;
                background-color: var(--l-blue-1);

                &:hover {
                    background-color: var(--d-blue-2);
                }
                &:hover > img {
                    filter: invert(100%) sepia(62%) saturate(2%) hue-rotate(4deg) brightness(110%) contrast(101%);
                }
            }
            .share-box {
                display: none;
                width: u.rem(250);
                padding: 15px 25px;
                position: absolute;
                top: -60px;
                right: -110px;
                color: var(--white);
                border-radius: 10px;
                background-color: var(--d-blue-2);

                &::after {
                    content: "";
                    position: absolute;
                    top: 50px;
                    left: 112px;
                    width: 0; 
                    height: 0; 
                    border-left: 10px solid transparent;
                    border-right: 10px solid transparent;
                    
                    border-top: 7px solid var(--d-blue-2);
                }

                span {
                    margin-right: 30px; 
                    text-transform: uppercase; 
                    letter-spacing: 5px; 
                    opacity: .5;
                }

                a { margin-right: 20px;}
            }
            .fade-in {
                animation: fadeIn 0.2s;
            }
        }
    }
}

@keyframes fadeIn {
    0% { opacity: 0;}
    50% { opacity: 0.5; }
    100% { opacity: 1; }
}

@media screen and (max-width: 900px) {     
    .wrapper {
        padding: 0 30px;
        flex-direction: column;

        .article-img {
            width: u.rem(330);
            height: u.rem(200);
            border-radius: 10px 10px 0 0;
        }        

        .article-content {
            padding: 20px;
            width: u.rem(330);
            height: auto;
            border-radius: 0 0 10px 10px;

            .article-author {
                margin-top: 30px;

                .share-box {
                    width: 330px;
                    padding: 32px;
                    top: -20px;
                    right: -20px;
                    z-index: 1;
                    border-radius: 0 0 10px 10px;
    
                    &::after {
                        display: none;
                    }

                    span { margin-right: 30px;}
                    a { margin-right: 15px;}
                }
            }
        }
    }
}